body {
  background-color: #EFEAD8;
}

hr{
border-style: none;
border-top-style: dotted;
border-width: 7px;
width: 5%;
background-color: #EFEAD8;
border-color: #D0C9C0;

}
h1{
color: #5F7161;
font-family: "calibri";
}
h3{
color: #6D8B74;
font-family: "calibri";
}
p{
font-family: "calibri";

}
table{
  font-family: "calibri";
}

ul{font-family: "calibri";}
a{
  font-family: "calibri";
}
